@font-face {
  font-family: "VNIHLThuphap";
  src: url("assets/fonts/VNI-HLThuphap.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Kimberley";
  src: url("assets/fonts/SVN-Kimberley.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Poppins-Black";
  src: url("assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("assets/fonts/Quicksand_Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.main {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  top: 13rem;
  position: absolute;
  height: 140.25rem;

  flex-wrap: wrap;
}
.main .tag-3 {
  display: none;
}

@media screen and (max-width: 576.98px) {
  .main {
    max-width: 576px;
    width: 100%;

    position: absolute;
    top: 8rem;
    display: flex;
    height: auto;
  }
  .main .tag-3 {
    display: flex;
    width: 100%;
    height: 5rem;

    position: absolute;
    align-items: center;
  }
  .main .tag-3 .tag-3mini {
    display: flex;
    width: 2.75rem;
    height: 1.25rem;
    padding: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 6.25rem;
    background: var(--Primary-Colors, #ed5a25);
    position: absolute;
    left: 1rem;
  }
  .main .tag-3 .Card-Voucher {
    color: var(--Color-Text, #afafaf);
    font-family: "Manrope", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    left: 4rem;
  }
  .main .tag-3 .Mobile-card {
    color: var(--Text-colors-01, #323232);
    font-family: "Manrope", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: absolute;
    left: 10.5rem;
  }
}

/* menu */
.main .menu {
  display: flex;
  position: absolute;
  width: 16.6875rem;
  height: 131.75rem;
  flex-shrink: 0;

  left: 7.75rem;
  flex-wrap: wrap;
}

/* menu-1 */
.main .menu .menu-1 {
  display: flex;
  position: absolute;
  width: 16.6875rem;
  height: 35.1875rem;
  flex-shrink: 0;
  border: 1px solid var(--Greys-Colors-05, #e5e5e5);
  flex-wrap: wrap;
}
.main .menu .menu-1 .menu-1-1 {
  display: flex;
  position: absolute;
  width: 16.6875rem;
  height: 3.25rem;
  justify-content: center;
  align-items: center;
  outline: none;
  border-right: 1px solid var(--Greys-Colors-05, #e5e5e5);
  border-bottom: 1px solid var(--Greys-Colors-05, #e5e5e5);
  background: #fff;
  color: var(--Text-colors-01, #323232);
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem; /* 155.556% */
}
.main .menu .menu-1 .menu-1-2 {
  display: flex;
  position: absolute;
  top: 4rem;
  left: 2.7rem;
  width: 9.29rem;
  color: var(--Color-Text-02, #3e3e3e);
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 200% */
}

/* menu-2 */

.main .menu .menu-2 {
  display: flex;
  position: absolute;
  width: 16.5625rem;
  height: 15.5625rem;
  flex-shrink: 0;

  top: 36.6875rem;
  border: 1px solid var(--Greys-Colors-05, #e5e5e5);
}

.main .menu .menu-2 .menu-2-1 {
  display: flex;
  position: absolute;
  width: 16.5625rem;
  height: 3.0625rem;
  flex-shrink: 0;
  color: var(--Text-colors-01, #323232);
  border-bottom: 1px solid var(--Greys-Colors-05, #e5e5e5);
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  align-items: center;
}
.main .menu .menu-2 .menu-2-2 {
  display: flex;
  width: 14.3125rem;
  height: 7.90706rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.70513rem;
  flex-shrink: 0;
  position: absolute;

  top: 5.06rem;
  left: 1.3rem;
}

.main .menu .menu-2 .menu-2-2 .menu-2-2-Price {
  color: var(--Text-colors-02, #3e3e3e);
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.44675rem; /* 144.675% */
}

.main .menu .menu-2 .menu-2-2 .menu-2-2-Price span {
  color: var(--Text-colors-02, #3e3e3e);
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.44675rem;
}

.main .menu .menu-2 .menu-2-2 .menu-2-2l {
  width: 4.65rem;
  display: flex;
  height: 1.86013rem;
  padding: 0.41338rem;
  justify-content: center;
  align-items: center;
  gap: 0.51669rem;
  flex-shrink: 0;
  border-radius: 0.25838rem;
  background: var(--Primary-Colors, #ed5a25);
  color: var(--Primaries-and-grays-06, #fff);
  font-family: "Manrope", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* menu-3 */
.main .menu .menu-3 {
  display: flex;
  position: absolute;
  width: 16.5625rem;
  height: 17.25rem;
  flex-shrink: 0;

  top: 53.62rem;
  border: 1px solid var(--Greys-Colors-05, #e5e5e5);
}

.main .menu .menu-3 .menu-3-1 {
  display: flex;
  position: absolute;
  width: 16.5625rem;
  height: 3.0625rem;
  flex-shrink: 0;
  color: var(--Text-colors-01, #323232);
  border-bottom: 1px solid var(--Greys-Colors-05, #e5e5e5);
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  align-items: center;
}
.main .menu .menu-3 .menu-3-2 {
  display: flex;
  position: absolute;
  width: 16.5625rem;
  top: 5rem;
  flex-shrink: 0;
  flex-wrap: wrap;

  left: 1.5rem;
}
.main .menu .menu-3 .menu-3-2 .menu-3star1 {
  display: flex;
  gap: 0.7rem;
}
.main .menu .menu-3 .menu-3-2 .menu-3star2 {
  display: flex;
  gap: 0.7rem;
  margin-top: 1rem;
}
.main .menu .menu-3 .menu-3-2 .menu-3star2 .menu-3star2-1 {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  display: flex;
  border-radius: 0.1875rem;
  border: 1px solid var(--Text-colors-02, #3e3e3e);
}

.main .menu .menu-4 {
  display: flex;
  position: absolute;
  width: 16.5625rem;
  height: 29.625rem;
  flex-shrink: 0;

  top: 72.37rem;
  border: 1px solid var(--Greys-Colors-05, #e5e5e5);
}

.main .menu .menu-4 .menu-4-1 {
  display: flex;
  position: absolute;
  width: 16.5625rem;
  height: 3.0625rem;
  flex-shrink: 0;
  color: var(--Text-colors-01, #323232);
  border-bottom: 1px solid var(--Greys-Colors-05, #e5e5e5);
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem;
  align-items: center;
}
.main .menu .menu-4 .menu-4-2 {
  display: flex;
  position: absolute;
  width: 8rem;
  height: auto;

  top: 4rem;
  align-items: center;
  flex-wrap: wrap;
  left: 1.5rem;

  color: var(--Greys-Colors-01, #404040);
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 125.081%; /* 1.25081rem */
}
.main .menu .menu-4 .menu-4-2 input {
  display: flex;
  width: 50%;
  margin-top: 1rem;
}
.main .menu .menu-4 .menu-4-2 span {
  display: flex;
  width: 50%;
  margin-top: 1rem;
}

/*menu-5*/

.main .menu .menu-5 {
  display: flex;
  position: absolute;
  width: 16.6875rem;
  height: 27.625rem;
  flex-shrink: 0;
  border-radius: 1.5625rem;
  background: #ffdacd;
  bottom: 0;
  justify-content: center;
}
.main .menu .menu-5 img {
  width: 15.9375rem;
  height: 11.21138rem;
  flex-shrink: 0;
  position: absolute;
}
.main .menu .menu-5 .menu-5-text {
  position: absolute;
  color: #951418;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1.5735rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  top: 13rem;
  display: flex;
}
.main .menu .menu-5 .View-all {
  position: absolute;
  top: 20rem;
  display: flex;
  width: 7.3125rem;
  height: 2.25rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
  border: 1px solid var(--Greys-Colors-07, #fff);
  background: var(--Greys-Colors-07, #fff);
  color: #ed5a25;

  /* Body 2 (Regular) */
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
}
.main .menu .menu-5 .View-all span {
  display: flex;
  width: 0.90244rem;
  height: 0.90244rem;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background: #ffece5;
  border-radius: 50%;
  transition: all 0.5s;
}

.main .menu .menu-5 .View-all span:hover {
  background: yellow;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}

/* product */
.main .product {
  display: flex;
  position: absolute;
  width: 60%;
  height: 112rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  left: 25.31rem;
  flex-wrap: wrap;
}
@media screen and (max-width: 576.98px) {
  .main .product {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;

    position: absolute;
    left: 0;
    top: 4rem;
    flex-wrap: wrap;
    height: 100rem;
  }
}

.main .product .product-conten {
  position: absolute;
  display: flex;
  width: 57.25rem;
  height: 1.5rem;
  justify-content: space-between;
  color: var(--Text-colors-01, #323232);
  font-family: "Manrope", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.main .product .product-conten .product-conten11 {
  display: none;
  align-items: center;
  gap: 1rem;
}
@media screen and (max-width: 576.98px) {
  .main .product .product-conten {
    position: absolute;
    top: 0;
    left: 1rem;
    width: 100%;
  }
}

.main .product .product-all {
  display: flex;
  width: 100%;
  height: 109rem;

  margin-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;
}

.main .product .product-all .product-alll {
  margin-top: 0.3rem;
  width: 13.75rem;
  height: 20.625rem;
  flex-shrink: 0;
  display: flex;
  border-radius: 1.875rem;
  border: 1px solid var(--Greys-Colors-06, #f2f2f2);
  background: #fff;
  justify-content: center;
  flex-wrap: wrap;
}
.main .product .product-all .product-alll .product-all1 {
  width: 12.375rem;
  height: 10.75rem;
  display: flex;
  margin-top: 0.5rem;
}
.main .product .product-all .product-alll .product-all1 img:nth-child(1) {
  width: 12.375rem;
  height: 10.75rem;
  flex-shrink: 0;
  display: flex;
  border-radius: 1.25rem;
  position: absolute;
}

.main .product .product-all .product-alll .product-all1 .product-all1img2 {
  margin-left: 10rem;
  margin-top: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  display: flex;
  background-color: white;
  border-radius: 1.5rem;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: all 0.5s;
}
.main
  .product
  .product-all
  .product-alll
  .product-all1
  .product-all1img2:hover {
  background: #ed5a25;
}
#check1-1:checked ~ #check1 {
  background: #ed5a25;
}
#check2-1:checked ~ #check2 {
  background: #ed5a25;
}
#check3-1:checked ~ #check3 {
  background: #ed5a25;
}
#check4-1:checked ~ #check4 {
  background: #ed5a25;
}
#check5-1:checked ~ #check5 {
  background: #ed5a25;
}
#check6-1:checked ~ #check6 {
  background: #ed5a25;
}
#check7-1:checked ~ #check7 {
  background: #ed5a25;
}
#check8-1:checked ~ #check8 {
  background: #ed5a25;
}
#check9-1:checked ~ #check9 {
  background: #ed5a25;
}
#check10-1:checked ~ #check10 {
  background: #ed5a25;
}
#check11-1:checked ~ #check11 {
  background: #ed5a25;
}
#check12-1:checked ~ #check12 {
  background: #ed5a25;
}
#check13-1:checked ~ #check13 {
  background: #ed5a25;
}
#check14-1:checked ~ #check14 {
  background: #ed5a25;
}
#check15-1:checked ~ #check15 {
  background: #ed5a25;
}
#check16-1:checked ~ #check16 {
  background: #ed5a25;
}
#check17-1:checked ~ #check17 {
  background: #ed5a25;
}
#check18-1:checked ~ #check18 {
  background: #ed5a25;
}
#check19-1:checked ~ #check19 {
  background: #ed5a25;
}
#check20-1:checked ~ #check20 {
  background: #ed5a25;
}
.main .product .product-all .product-alll .product-all1 .product-all1img2 img {
  position: absolute;

  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  display: flex;
}

.main .product .product-all .product-alll button {
  width: 11.875rem;
  height: 2.25rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8.08619rem;
  background: var(--Secondary-Colors-12, #fff4f1);
  outline: none;
  border: none;
  color: var(--Primary-Colors, #ed5a25);
  font-family: "Poppins", sans-serif;
  font-size: 0.97031rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all 0.5s;
}
.main .product .product-all .product-alll .text-Target {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  width: 10.16169rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.main .product .product-all .product-alll .text-monny {
  color: var(--Primary-Colors, #ed5a25);
  font-family: "Quicksand", sans-serif;
  font-size: 0.97031rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: flex;
  width: 10.16169rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.main .product .product-all .product-alll button:hover {
  color: white;
  background: #ed5a25;
}

/* navigation-bar */
.main .navigation-bar {
  display: flex;
  position: absolute;
  width: 25.0625rem;
  align-items: center;
  gap: 1.4375rem;
  height: 2.75rem;

  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  align-items: center;
  justify-content: center;
  color: var(--Color-Text-04, #787777);
  font-family: "Quicksand", sans-serif;
  font-size: 1.60419rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
@media screen and (max-width: 576.98px) {
  .main .navigation-bar {
    position: absolute;
    top: 220rem;
  }
}
.main .navigation-bar div {
  width: 2.75rem;
  height: 2.75rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2.75rem;
  background: var(--Background-02, #ededed);
  color: var(--Color-Text-04, #787777);
  font-family: "Quicksand", sans-serif;
  font-size: 1.60419rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: all 0.5s;
}

.main .navigation-bar div:hover {
  background: var(--Primary-Colors, #ed5a25);
  color: #fff;
}

@media screen and (max-width: 576.98px) {
  .main {
  }
  .main .product .product-conten .product-conten11 {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    right: 2rem;
    color: var(--Text-colors-01, #323232);
    font-family: "Manrope", sans-serif;
    font-size: 0.74706rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: 0.812px solid var(--Greys-Colors-05, #e5e5e5);
    width: 8rem;
    padding: 0.406rem 0.609rem;
  }
}
@media screen and (max-width: 576.98px) {
  .main .menu {
    top: 225rem;
    height: auto;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
  }
  .main .menu .menu-1 {
    display: none;
  }
  .main .menu .menu-2 {
    display: none;
  }
  .main .menu .menu-3 {
    display: none;
  }
  .main .menu .menu-4 {
    display: none;
  }

  .main .menu .menu-5 {
    position: absolute;
    top: 0;
  }
}
