@media screen and (max-width: 576.98px){
        .header{
            max-width: 576px ;
            width: 100%;
            background: yellow;
        }
        .header .htop{
            max-width: 576px ;
            width: 100%;
            background: red;
        }
        .header .hmain{
            display: none;
        }
          .header .hbot{
            display: none;
        }





        .main{
            max-width: 576px ;
            width: 100%;
            background: red;
        }
        .main .menu{
            display: none;
        }
        .main .product{
            display: none;
        }
        .main .navigation-bar{
            display: none;
        }
        .footer {
            max-width: 576px ;
            width: 100%;
            background: yellow;
        }
         .footer .footer-top{
            display: none;
         }
         .footer .footer-bot{
            display: none;
         }


}