
 @font-face {
      font-family: 'Quicksand';
      src: url('assets/fonts/Quicksand.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
 }
.header{
    max-width: 90rem;
    width: 100%;
    height: auto;
   
    position: relative;
    display: block;
    z-index: 2;
}



/* phần htop*/
.htop{
    width: 100%;
    height: 2.4375rem;
    background: #ED5A25;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.htop .htop-phai{
    align-items: center;
    gap: 0.78856rem;
    margin-right: 6.92rem;
display: flex;
justify-content: center;
margin-left: 7.87rem ;
}
.htop .htop-phai a{
   color: var(--Greys-Colors-07, #FFF);
font-family: 'Quicksand',sans-serif;
font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.htop .htop-trai{
    display: flex;
    margin-right: 6.9rem ;
    gap:0.6rem ;
    justify-content: center;
    
   
}
.htop .htop-trai .htop-trai-aphai a{
     font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: normal;
font-family: 'Quicksand',sans-serif;
font-size: 0.875rem;
color: var(--Greys-Colors-07, #FFF);

}
.htop .htop-trai .htop-trai-agiua a{
     font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: normal;
font-family: Quicksand;
font-size: 0.875rem;
color: var(--Greys-Colors-07, #FFF);

}
.htop .htop-trai .htop-trai-atrai{
    justify-content: space-between;
align-items: center;
height: 1.25rem;
display: flex;
}

.htop .htop-trai .htop-trai-atrai a{
     font-size: 0.875rem;
font-style: normal;
font-weight: 500;
line-height: normal;
font-family: Quicksand;
font-size: 0.875rem;
color: var(--Greys-Colors-07, #FFF);

}




/* phần hmain*/
.hmain{
   width: 100%;
    height: 5.9375rem;
     position: absolute;   
background: #FFF4F1;
     display: flex;
     align-items: center;
     
}
 .hmain .hmain-contener{
    width: 100%;
    display: flex;
justify-content: space-between;
height: 3.8125rem;
align-items: center;
margin-right: 6.92rem;
flex-shrink: 0;
position: absolute;


}
.hmain .hmain-contener .hmain-contener-phai{
    margin-left:  7.87rem;
}
.hmain .hmain-contener .hmain-contener-phai a {
    display: flex;
    align-items: center;
    color: #404040;

font-family: Poppins;
font-size: 2.024rem;
font-style: normal;
font-weight: 600;
line-height: 2.89144rem;
}
.hmain .hmain-contener .hmain-contener-phai a span{
    color: #ED5A25;
font-family: Poppins;
font-size: 2.024rem;
font-style: normal;
font-weight: 600;
line-height: 2.89144rem;
}

.hmain .hmain-contener .hmain-contener-trai {
    
    display: flex;
justify-content: flex-end;
align-items: center;
gap: 0.78856rem;



}
.hmain .hmain-contener .hmain-contener-trai .hmain-contener-trai-search{
    width: 20rem;
height: 2.62856rem;
background: white;
border-radius: 2rem;
display: flex;
    align-items: center;
outline: none;

}
.hmain .hmain-contener .hmain-contener-trai .hmain-contener-trai-search .hmain-contener-trai-search-khuvuc{
    display: flex;
width: 7.22856rem;
align-items: center;
gap: 0.32856rem;
justify-content: center;
}
.hmain .hmain-contener .hmain-contener-trai .hmain-contener-trai-search .hmain-contener-trai-search-khuvuc span{
flex-shrink: 0;
color: var(--Greys-Colors-03, #AEAEAE);
font-family: Manrope;
font-size: 0.92rem;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #AEAEAE;
}

.hmain .hmain-contener .hmain-contener-trai .hmain-contener-trai-search .sss{
position: relative;
width: 0.09569rem;
height: 2.7rem;
background: #FFF0EC;
margin-top: -0.3rem;
}
.hmain .hmain-contener .hmain-contener-trai .hmain-contener-trai-search .hmain-contener-trai-search-sanpham{
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 22rem;
height: 3rem;
gap: 3.9375rem;
flex-shrink: 0;
margin-left:0.2rem ;
}
.hmain .hmain-contener .hmain-contener-trai .hmain-contener-trai-search .hmain-contener-trai-search-sanpham input{

color: var(--Greys-Colors-03, #AEAEAE);
font-family: Manrope;
font-size: 0.92rem;
font-style: normal;
font-weight: 400;
line-height: normal;
border: none;
height: 2rem;
outline: none;
}
.hmain .hmain-contener .hmain-contener-trai .hmain-contener-trai-search .hmain-contener-trai-search-sanpham button{
    background: white;
    border: none;
    display: flex;
    align-items: center;
    border-radius: 5px;
    transition: 1s;
    position: absolute;
}
.hmain .hmain-contener .hmain-contener-trai .hmain-contener-trai-search .hmain-contener-trai-search-sanpham button:hover{
    background: #15056d;
}





/* phần hbot*/
.hbot{
     width: 100%;
     height: 3.375rem;
     position: absolute;  
    flex-shrink: 0;
    display: flex;
    background: white;
    align-items: center;
    justify-content: space-between;
    top:8.375rem ;
}
.hbot ul{
    color: var(--Greys-Colors-01, #404040);
font-family: 'Quicksand',sans-serif;
font-size: 0.92rem;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
list-style: none;
margin-left: 7.82rem;
gap: 1.25rem;
}
.hbot div {
    display: flex;
width: 11.43419rem;
align-items: center;
gap: 0.52569rem;
margin-right: 6.92rem;
}
.hbot div span{
    display: block;
    
    width: 1.05144rem;
height: 1.05144rem;
flex-shrink: 0;
align-items: center;
}
.hbot div span .s1{
    position: relative;
    width: auto;
    right:  -0.1rem;
    top: 20%;
    z-index: 50000;
}
.hbot div span .s2{
    position: absolute;
    width: auto;
    
    
    z-index: 50000;
}
.hbot div a {
    color: var(--Greys-Colors-02, #5C5C5C);
font-family: Quicksand;
font-size: 0.92rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}