 @font-face {
      font-family: 'VNIHLThuphap';
      src: url('assets/fonts/VNI-HLThuphap.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
     @font-face {
      font-family: 'SVN-Kimberley';
      src: url('assets/fonts/SVN-Kimberley.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'SVN-Poppins-Black';
      src: url('assets/fonts/Poppins-Black.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
     @font-face {
      font-family: 'Quicksand';
      src: url('assets/fonts/Quicksand_Bold.otf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
   
.big-sidde{
    width: 100%;  
    flex-shrink: 0;
   justify-content: center;
    position: absolute;
    height: 100%;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
}



.big-sidde .content{
    position: absolute;
    
    top: 2rem;
    color: var(--Color-Text-01, #323232);

/* Headline 3 */
font-family: 'Quicksand',sans-serif;
font-size: 2rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}


.big-sidde .information{
     position: absolute;
  
    display: flex;
    width: 29.6875rem;
height: 6rem;
flex-shrink: 0;
top: 7rem;
flex-wrap:wrap ;
}
.big-sidde .information .information1{
    color: var(--Color-Text-01, #323232);
font-family: 'Manrope',sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
text-transform: uppercase;
}
.big-sidde .information .information2{
    width: 29.6875rem;
height: 6rem;
flex-shrink: 0;
display: flex;
flex-wrap: wrap;
border-radius: 0.9375rem;
border: 1px solid var(--Greys-Colors-05, #E5E5E5);
background: #FFF;
}

.big-sidde .information .information2 div input{
     width: 26.6875rem;
height: 2.8rem;
flex-shrink: 0;
color: #B8B8B8;
font-family: 'Manrope',sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
display: flex;
margin-left:2% ;
border: none;

outline: none;
}

.big-sidde .information .information3{
    background: #F2F2F2;
width: 29.625rem;
height: 0.0625rem;
position: absolute;
top: 4.3rem;
}









.big-sidde .information-1{
   position: absolute;
    
    display: flex;
    width: 29.6875rem;
    height: 15rem;
    flex-wrap: wrap;
}
.big-sidde .information-1 .information-1-1{
    color: #000;
font-family: 'Manrope',sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: 1.5rem; /* 150% */
text-transform: uppercase;
} 
.big-sidde .information-1 .information-1-2{
    width: 29.6875rem;
height: 12.5rem;
flex-shrink: 0;
border-radius: 0.9375rem;
border: 1px solid #D8D8D8;
background: #FFF;
}
.big-sidde .information-1 .information-1-2 .dv1{
    display: flex;
    width: 29.6875rem;    
    height: 4.19rem;
    align-items: center;    
}
.big-sidde .information-1 .information-1-2 .dv1 span:nth-child(1){
color: #121212;
font-family: 'Inter',sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
position: relative;
top: -0.5rem;
left: 0.5rem;
display: flex;
width: 5rem;
}
.big-sidde .information-1 .information-1-2 .dv1 span:nth-child(2){
    color: #C4C4C4;
font-family: 'Inter',sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
position: relative;
top: 1rem;
left: -4.4rem;
}
.big-sidde .information-1 .information-1-2 .dv1 svg{
    display: flex;
    margin-left: 16rem;
}




.big-sidde .information-1 .information-1-2 div:nth-child(2){
    border-top:  1px solid #D8D8D8;
    border-bottom:  1px solid #D8D8D8;
}













.big-sidde .button-doulbe{
   display: flex;
  width: 100%; 
  justify-content: center;
  flex-wrap: wrap;
gap: 50%;
height: 1rem;
position: absolute;
top: 35rem;
}
.big-sidde .button-doulbe button:nth-child(1){
   display: flex;
width: 30.125rem;
height: 2.75rem;
padding: 0.75rem 1.5rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
border-radius: 1.875rem;
background: var(--Greys-Colors-05, #E5E5E5);
border: none;
outline: none;
color: var(--Color-Text-01, #323232);
font-family: 'Quicksand',sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 1.5rem; /* 150% */
transition: all 0.5s;
}

.big-sidde .button-doulbe button:nth-child(2){
    display: flex;
width: 30.125rem;
height: 2.75rem;
padding: 0.75rem 1.5rem;
justify-content: center;
align-items: center;
gap: 0.625rem;
flex-shrink: 0;
border-radius: 1.875rem;
background: var(--Greys-Colors-05, #E5E5E5);
border: none;
outline: none;
color: var(--Color-Text-01, #323232);
font-family: 'Quicksand',sans-serif;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: 1.5rem; /* 150% */
transition: all 0.5s;
}
.big-sidde .button-doulbe button:hover{
    background: #ED5A25;
    color: var(--Greys-Colors-09, #FFF);
}




