@font-face {
  font-family: "VNIHLThuphap";
  src: url("assets/fonts/VNI-HLThuphap.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Kimberley";
  src: url("assets/fonts/SVN-Kimberley.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Poppins-Black";
  src: url("assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.body-sing-in {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("assets/images/background.jpg");
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.body-sing-in .main {
  width: 63.5rem;
  height: 30.5rem;
  flex-shrink: 0;
  border-radius: 2.8125rem;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 6px 12px 33.1px 0 rgba(229, 229, 229, 0.3);
  backdrop-filter: blur(11.949999809265137px);
  display: flex;
  justify-content: space-between;
}

.body-sing-in .text-low {
  display: flex;
  align-items: flex-start;
  width: 31.7rem;
  height: 30.5rem;
  flex-wrap: wrap;
  margin-left: 3rem;
  margin-top: 6.5rem;
}
.body-sing-in .text-low span:nth-child(1) {
  width: 23.125rem;
  height: 5.25rem;
  display: flex;
  color: var(--Greys-Colors-01, #404040);
  font-family: Manrope;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 133.333% */
  text-transform: uppercase;
}
.body-sing-in .text-low span:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-self: stretch;
  margin-top: -6rem;
  color: var(--Color-Text-01, #323232);
  width: 21.25rem;
  /* Headline 7 */
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.body-sing-in .text-low a {
  width: 13.625rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
  background: #ed5a25;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -8rem;
  color: #fff;
  font-family: "Manrope", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  transition: all 0.5s;
}

.body-sing-in .text-low a:hover {
  background: #d5d521b1;
  color: #e43c3c;
}
.body-sing-in .sing-in {
  width: 31.7rem;
  height: 30.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2.8125rem;
  background: #fff;
  flex-wrap: wrap;
}
.body-sing-in .sing-in .text {
  color: var(--Color-Text-01, #323232);
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 133.333% */
  width: 100%;
  height: 2rem;
  position: relative;
  display: flex;
  top: 2rem;
  left: 3.5rem;
}
.body-sing-in .sing-in form {
  display: flex;
  width: 23.3125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  top: 2rem;
  left: -1rem;
  position: relative;
}
.body-sing-in .sing-in form span {
  display: flex;
  justify-content: center;
  width: 23.3125rem;
  height: 3rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
  background: #f2f2f2;
  color: var(--Color-Text, #afafaf);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 0.4rem;
}
.body-sing-in .sing-in form span input {
  border: none;
  background: #f2f2f2;
  outline: none;
}
.body-sing-in .sing-in form span span {
  height: 100%;
  align-items: center;
  display: flex;
  width: auto;
}
.body-sing-in .sing-in form span img {
  width: 1rem;
  height: 1rem;
}

.body-sing-in .sing-in form span .img2 {
  display: flex;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  background: var(--Primary-Colors, #ed5a25);
  color: #ffece5;
  border-radius: 2rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  transition: 0.5s;
  margin-top: 0.5rem;
  margin-right: -2rem;
}

.body-sing-in .sing-in form span .img2:hover {
  background: #ffece5;
  color: var(--Primary-Colors, #ed5a25);
}
.body-sing-in .sing-in .orgot {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  top: 2rem;
}
.body-sing-in .sing-in .orgot a {
  color: var(--Primary-Colors, #ed5a25);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.body-sing-in .sing-in .span-final {
  display: flex;
  height: 8.19rem;
  width: 100%;
  flex-wrap: wrap;
  justify-self: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.body-sing-in .sing-in .span-final span {
  color: #999;
  font-family: "Inter", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  display: flex;
  justify-content: center;
}
.body-sing-in .sing-in .icon-final {
  display: flex;
  height: 1.5rem;
  width: auto;
  position: relative;
  top: -5rem;
  gap: 1rem;
}
