@font-face {
  font-family: "VNIHLThuphap";
  src: url("assets/fonts/VNI-HLThuphap.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Kimberley";
  src: url("assets/fonts/SVN-Kimberley.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Poppins-Black";
  src: url("assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}
img {
  display: block;
}

.main {
  max-width: 90rem;
  width: 100%;
  height: auto;
  flex-shrink: 0;

  position: absolute;
  top: 9.3125rem;
  display: flex;
  justify-content: center;
}

.main .main-middle {
  width: 100%;
  max-width: 75.1875rem;
  margin-top: 1rem;
  height: auto;
  position: absolute;
}

/* bắt đầu phần css main-poster */

.main .main-middle .main-poster {
  width: 100%;
  height: 26.625rem;
  flex-shrink: 0;
  background: #ffdbce;
  border-radius: 20px;
  position: absolute;
  top: 2rem;
  overflow: hidden;
  left: 0;
}
.main .main-middle .main-poster .poster-frame {
  width: 100%;
  height: 26.625rem;
  flex-shrink: 0;
  position: absolute;
}

.main .main-middle .main-poster .poster-frame .poster-left {
  width: 8.99156rem;
  height: 11.14963rem;
  transform: rotate(-18.206deg);
  flex-shrink: 0;
  border-radius: 1.08875rem;
  background: white;
  box-shadow: 0 21.234px 19.51px 0 rgba(255, 235, 230, 0.5);
  margin-top: 1.83rem;
  margin-left: 34.09rem;
  position: absolute;
  display: flex;
  justify-content: center;
  border: 0.4rem solid var(--Secondary-Colors-12, #fff4f1);
  z-index: 2;
  overflow: hidden;
}

.main .main-middle .main-poster .poster-frame .poster-left .span1 {
  position: relative;
  color: var(--Color-Text-01, #323232);
  font-family: "SVN-Kimberley", sans-serif;
  font-size: 0.83256rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.69119rem; /* 83.017% */
  letter-spacing: 0.05825rem;
  color: #323232;
  top: 0.5rem;
}
.main .main-middle .main-poster .poster-frame .poster-left .span2 {
  font-family: "VNIHLThuphap", sans-serif;
  width: 4.42563rem;
  height: 0.8455rem;
  font-size: 0.56963rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.81375rem; /* 142.857% */
  letter-spacing: 0.11394rem;
  background: linear-gradient(90deg, #f42323 0%, #1d0fbf 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 1.5rem;
}
.main .main-middle .main-poster .poster-frame .poster-left .span3 {
  color: var(--Greys-Colors-01, #404040);
  text-align: center;
  font-family: Quantico, sans-serif;
  font-size: 0.32256rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.868rem; /* 269.068% */
  letter-spacing: 0.21294rem;
  width: 1.56044rem;
  height: 0.54444rem;
  position: absolute;
  top: 2.5rem;
}
.main .main-middle .main-poster .poster-frame .poster-left .img-double {
  display: flex;
  height: 3.48425rem;
  justify-content: center;
  position: absolute;
  top: 3.5rem;
}
.main .main-middle .main-poster .poster-frame .poster-left .img-double .img-1 {
  width: 3.48656rem;
  height: 3.48425rem;
  flex-shrink: 0;
}
.main .main-middle .main-poster .poster-frame .poster-left .img-double .img-2 {
  width: 3.48656rem;
  height: 3.48425rem;
  flex-shrink: 0;
}
.main .main-middle .main-poster .poster-frame .poster-left .span5 {
  color: var(--Color-Text-01, #323232);
  font-family: "Poppins", sans-serif;
  font-size: 0.54438rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.871rem; /* 160% */
  text-transform: capitalize;
  width: 7.72019rem;
  height: 0.87506rem;
  position: absolute;
  top: 7.5rem;
  margin-left: 0.7rem;
}
.main .main-middle .poster-frame .poster-left .span6 {
  width: 7.19106rem;
  height: 0.87106rem;
  flex-shrink: 0;

  position: absolute;
  top: 8.5rem;
  display: flex;
  justify-content: space-between;
}
.poster-frame .poster-left .span6 .span6-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.59881rem;
}
.main .main-middle .poster-frame .poster-left .span6 .span6-2 {
  background: #ed5a25;
  width: 0.87163rem;
  height: 0.87106rem;
  border-radius: 50%;
  transform: rotate(18.218deg);
}

/* poster-main */
.main .main-middle .poster-frame .poster-main {
  position: absolute;
  display: flex;
  width: 31.58881rem;
  height: 31.625rem;
  flex-shrink: 0;
  border-radius: 31.625rem;
  top: -1rem;
  right: -1rem;
  justify-content: center;
  align-items: center;
  background: #ffd5c6;
  overflow: hidden;
}
.main .main-middle .poster-frame .poster-main-1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24.0175rem;
  height: 24.0625rem;
  flex-shrink: 0;
  border-radius: 24.0625rem;

  background: #ffe4db;
  overflow: hidden;
}
.main .main-middle .poster-frame .poster-main-1 .poster-main-1-1 {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18.75469rem;
  height: 18.73906rem;
  flex-shrink: 0;
  border-radius: 18.75469rem;
  background: var(--Primary-Colors, #ed5a25);
  overflow: hidden;
}
.main .main-middle .poster-frame .poster-main-1 .poster-main-1-1 img {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.63969rem;
  height: 24.125rem;
  flex-shrink: 0;
  transform: rotateY(180deg);
}
.main .main-middle .poster-frame .poster-Right {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  height: 20rem;

  right: 3rem;
  top: 6rem;
}
.main .main-middle .poster-frame .poster-Right .lucy-red img {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 5.07138rem;
  height: 5.06713rem;
  flex-shrink: 0;
  bottom: 0;
}
.main .main-middle .poster-frame .poster-Right .lucy-yelu img {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 6.58069rem;
  height: 6.57519rem;
  flex-shrink: 0;
  right: 0;
}
.main .main-middle .poster-frame .poster-Right .banner-finalle {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 6.874rem;
  height: 8.49875rem;
  transform: rotate(45deg);
  transform: rotateY(deg);
  flex-shrink: 0;
  border-radius: 0.83269rem;
  background: #e2d3e9;
  box-shadow: 0 9.992px 27px 0 rgba(238, 219, 214, 0.5);
  bottom: 0;
  right: 0;
  justify-content: center;
  align-items: center;
}
.main
  .main-middle
  .poster-frame
  .poster-Right
  .banner-finalle
  .banner-finalle-1 {
  display: flex;
  flex-wrap: wrap;
  width: 6.41569rem;
  height: 7.99881rem;
  flex-shrink: 0;
  border-radius: 0.83269rem;
  background: #fff;
  box-shadow: 0 9.992px 14.922px 0 rgba(255, 247, 245, 0.5);
  justify-content: center;
}
.main
  .main-middle
  .poster-frame
  .poster-Right
  .banner-finalle
  .banner-finalle-1
  .banner-finalle-1-v {
  width: 5.49919rem;
  height: 5.33256rem;
  border-radius: 0.6245rem 0.6245rem 0 0;
  background: linear-gradient(
      24deg,
      rgba(133, 112, 153, 0.2) 6.11%,
      rgba(133, 112, 153, 0) 17.93%
    ),
    linear-gradient(92deg, #89779f -1.41%, #a288ad 97.92%);
  flex-shrink: 0;
  margin-top: 0.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.main
  .main-middle
  .poster-frame
  .poster-Right
  .banner-finalle
  .banner-finalle-1
  .banner-finalle-1-v
  .FORTNITE {
  width: 5.41588rem;
  height: 1.45813rem;

  flex-shrink: 0;
  color: var(--Background-03, #f2f2f2);
  text-align: center;
  font-family: "SVN-Marujo", sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 0.88106rem; /* 83.017% */
  letter-spacing: 0.07431rem;
}
.main
  .main-middle
  .poster-frame
  .poster-Right
  .banner-finalle
  .banner-finalle-1
  .banner-finalle-1-v
  img {
  width: 5.49919rem;
  height: 3.2495rem;
  flex-shrink: 0;
}
.main
  .main-middle
  .poster-frame
  .poster-Right
  .banner-finalle
  .banner-finalle-1
  .Fortnite-card {
  width: 4.37438rem;
  height: 0.68794rem;
  flex-shrink: 0;
  color: var(--Color-Text-01, #323232);
  font-family: "Poppins", sans-serif;
  font-size: 0.41638rem;
  font-style: normal;
  font-weight: 600;
  line-height: 0.66613rem; /* 160% */
  text-transform: capitalize;
}
.main
  .main-middle
  .poster-frame
  .poster-Right
  .banner-finalle
  .banner-finalle-1
  .late-img {
  width: 5.49925rem;
  height: 0.66656rem;

  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}
.main
  .main-middle
  .poster-frame
  .poster-Right
  .banner-finalle
  .banner-finalle-1
  .late-img
  .t4-8 {
  display: flex;
  align-items: center;
  gap: 0.16656rem;
  color: var(--Color-Text-01, #323232);
  font-family: "Poppins", sans-serif;
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.44413rem; /* 160% */
}
.main
  .main-middle
  .poster-frame
  .poster-Right
  .banner-finalle
  .banner-finalle-1
  .late-img
  .t120-9 {
  display: flex;
  align-items: center;
  gap: 0.16656rem;
  color: var(--Color-Text-01, #323232);
  font-family: "Poppins", sans-serif;
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 0.44413rem; /* 160% */
}
.main
  .main-middle
  .poster-frame
  .poster-Right
  .banner-finalle
  .banner-finalle-1
  .late-img
  .tnext {
  width: 0.66656rem;
  height: 0.66656rem;
  border-radius: 50%;
  flex-shrink: 0;
  background: #ed5a25;
  font-size: 0.6rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* kết thúc phần css main-poster */

/* bắt đầu css của function-bar */

.main .main-middle .function-bar {
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 30rem;
  left: 0;
  gap: 4rem;

  width: 100%;
}
.main-middle .function-bar .function-1 {
  display: flex;
  width: 11.75rem;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
}
.function-bar .function-1 .sp1 {
  display: flex;
  width: 100%;
  height: 5rem;
  justify-content: center;
}
.function-1 .sp1 .svg1 {
  width: 5rem;
  height: 5rem;
  flex-shrink: 0;
  fill: var(--Secondary-Colors-12, #fff4f1);
  display: flex;
  position: relative;
}
.function-1 .sp1 .svg2 {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  fill: var(--Secondary-Colors-12, #fff4f1);
  display: flex;
  position: absolute;
  top: 20%;
}
.function-1 .text1 {
  color: var(--Color-Text-02, #3e3e3e);
  text-align: center;
  /* Headline 6 */
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem; /* 155.556% */
  align-self: stretch;
}

/* kết thúc phần css function-bar */

/* bắt đầu phần css poster-small */

.main .main-middle .poster-small {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  position: absolute;
  top: 40rem;
  display: flex;
  justify-content: space-between;

  left: 0;
}
.main .main-middle .poster-small .poster-small-Right {
  width: 45%;
  height: 15.6875rem;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 1.875rem;
  background: #fff4f1;
  position: relative;
}
.main .main-middle .poster-small .poster-small-Right div {
  width: 20.74675rem;
  height: 20.74675rem;
  border-radius: 20.74675rem;
  background: linear-gradient(211deg, #ffede8 17.36%, #ffd9cb 79.38%);
  position: absolute;
  top: -2rem;
  right: -7rem;
}
.poster-small .poster-small-Right div span {
  display: block;
  position: relative;
  width: 14.13425rem;
  height: 14.13425rem;
  border-radius: 14.13425rem;
  background: #fff4f1;
  top: 5rem;
  right: -2rem;
}
.poster-small .poster-small-Right div img {
  width: 27.625rem;
  height: 17.5rem;
  flex-shrink: 0;
  transform: rotateY(-180deg);
  display: flex;
  left: -17rem;
  top: -3.6rem;
  position: absolute;
}

.poster-small .poster-small-left {
  width: 45%;
  height: 15.6875rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: #fff4f1;
  overflow: hidden;
  position: relative;
}
.poster-small .poster-small-left div {
  width: 60%;
  height: 25.37388rem;
  border-radius: 25.37388rem;
  border-radius: 25.37388rem;
  background: linear-gradient(180deg, #fff4f1 0%, #ffd8ce 100%);
  position: absolute;
  right: 0;
  top: 1rem;
}
.poster-small .poster-small-left div .im1 {
  width: 0.9375rem;
  height: 0.9375rem;
  flex-shrink: 0;
  position: absolute;
  top: 5rem;
  left: 3rem;
}
.main .main-middle .poster-small .poster-small-left div .im2 {
  position: absolute;
  width: 50%;
  height: 15.1875rem;
  flex-shrink: 0;
  right: 2rem;
  position: absolute;
}
/* kết thúc phần css poster-small */
