@font-face {
  font-family: "VNIHLThuphap";
  src: url("assets/fonts/VNI-HLThuphap.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Kimberley";
  src: url("assets/fonts/SVN-Kimberley.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Poppins-Black";
  src: url("assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.final-banner {
  display: flex;
  width: 100%;
  max-width: 75rem;
  height: 18.4375rem;
  top: 301rem;
  flex-shrink: 0;
  border-radius: 1.875rem;
  background: var(--Secondary-Colors-01, #782000);
  position: absolute;
  overflow: hidden;
}
.final-banner .img-final-banner img {
  display: flex;
  width: 27.33531rem;
  height: 19.4375rem;
  flex-shrink: 0;
  background: cover no-repeat;
  position: absolute;
  right: -2rem;
}

.final-banner .img-polygon6 {
  width: 15.56306rem;
  height: 15.55031rem;

  flex-shrink: 0;
  margin-top: -7rem;
  margin-left: 6rem;
}
.final-banner .img-polygon5 {
  width: 29.5rem;
  height: 29.5rem;
  margin-left: -10rem;
  margin-top: 5rem;
}
.final-banner .text-new-final {
  width: 23.08175rem;
  height: 9.625rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -28rem;
  margin-top: 5rem;
}
.final-banner .text-new-final span:nth-child(1) {
  color: var(--Background-03, #f2f2f2);

  /* Headline 3 */
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: auto;
}
.final-banner .text-new-final span:nth-child(2) {
  color: #fff;
  text-align: center;

  /* Body 1 (Regular) */
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem; /* 150% */
  width: auto;
}
.final-banner .text-new-final span:nth-child(3) {
  display: flex;
  width: 8.88238rem;
  height: 2.25rem;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 6.25rem;
  border: 1px solid var(--Primary-Colors, #ed5a25);
  background: #f5f6f8;
  color: #ed5a25;

  /* Body 2 (Regular) */
  font-family: "Quicksand", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 142.857% */
  transition: all 0.5s;
}
.final-banner .text-new-final span:nth-child(3):hover {
  background: #ed5a25;
  color: #f5f6f8;
}
