@font-face {
  font-family: "VNIHLThuphap";
  src: url("assets/fonts/VNI-HLThuphap.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Kimberley";
  src: url("assets/fonts/SVN-Kimberley.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Poppins-Black";
  src: url("assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 10px;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
.body-sing-in {
  width: 100%;
  height: 100%;
  display: flex;
  background-image: url("../../images/backg.png");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
.body-sing-in .main {
  width: 65%;
  height: 40rem;
  flex-shrink: 0;
  border-radius: 2.8125rem;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 6px 12px 33.1px 0 rgba(229, 229, 229, 0.3);
  backdrop-filter: blur(11.949999809265137px);
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.body-sing-in .main .text-low {
  display: flex;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  flex-wrap: wrap;
  top: 0;
  position: absolute;
  border-radius: 2.8125rem 0 0 2.8125rem;
}
.body-sing-in .main .text-low .text-low-1 {
  width: 50%;
  height: 5.25rem;
  display: flex;
  color: var(--Greys-Colors-01, #404040);
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 133.333% */
  text-transform: uppercase;

  position: absolute;
  top: 20%;
  left: 10%;
}
.body-sing-in .main .text-low .text-low-2 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-self: stretch;
  color: var(--Color-Text-01, #323232);
  width: 25rem;
  height: 2rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 40%;
  left: 10%;

  justify-content: center;
}
.body-sing-in .main .text-low .text-low-2 .n1 {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #f0f0f0;
  background-blend-mode: multiply;
  color: #000;
  /* Headline 6 */
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem; /* 155.556% */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.body-sing-in .main .text-low .text-low-2 p {
  position: absolute;
  left: 3rem;
}
.body-sing-in .main .text-low .text-low-3 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-self: stretch;
  color: var(--Color-Text-01, #323232);
  width: 30rem;
  height: 2rem;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 50%;
  left: 10%;
}
.body-sing-in .main .text-low .text-low-3 .n2 {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #f0f0f0;
  background-blend-mode: multiply;
  color: #000;
  /* Headline 6 */
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem; /* 155.556% */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.body-sing-in .main .text-low .text-low-3 p {
  position: absolute;
  left: 3rem;
}
.body-sing-in .main .text-low .text-low-4 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 25rem;
  height: 2rem;
  align-self: stretch;
  color: var(--Color-Text-01, #323232);
  width: 21.25rem;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 60%;
  left: 10%;

  justify-content: center;
}
.body-sing-in .main .text-low .text-low-4 .n3 {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #f0f0f0;
  background-blend-mode: multiply;
  color: #000;
  /* Headline 6 */
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem; /* 155.556% */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.body-sing-in .main .text-low .text-low-4 p {
  position: absolute;
  left: 3rem;
}
.body-sing-in .main .text-low .text-low-5 {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-self: stretch;
  color: var(--Color-Text-01, #323232);

  width: 25rem;
  height: 2rem;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 70%;
  left: 10%;
}
.body-sing-in .main .text-low .text-low-5 .n4 {
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  background: #f0f0f0;
  background-blend-mode: multiply;
  color: #000;
  /* Headline 6 */
  font-family: "Quicksand", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75rem; /* 155.556% */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.body-sing-in .main .text-low .text-low-5 p {
  position: absolute;
  left: 3rem;
}

.body-sing-in .main .sing-in {
  width: 50%;
  height: 100%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  border-radius: 2.8125rem;
  background: #fff;
  flex-wrap: wrap;
  position: absolute;
  right: 0;
}
.body-sing-in .main .sing-in .text {
  color: var(--Color-Text-01, #323232);
  font-family: "Manrope", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem; /* 133.333% */
  width: 80%;
  height: 2rem;
  position: absolute;
  display: flex;
  top: 2rem;
}
.body-sing-in .main .sing-in form {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  top: 8rem;
  position: absolute;

  height: 7rem;
}
.body-sing-in .main .sing-in form .email {
  display: flex;
  width: 100%;
  height: 3rem;
  border-radius: 6.25rem;
  background: #f2f2f2;
  align-items: center;

  position: absolute;
}
.body-sing-in .main .sing-in form .email .img-em {
  display: flex;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  position: absolute;
  left: 1rem;
}
.body-sing-in .main .sing-in form .email .input {
  position: absolute;
  left: 15%;
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  background: #f2f2f2;
  transition: all 0.2s;
}
.body-sing-in .main .sing-in form .email label {
  position: relative;
  left: 16%;
  color: var(--Color-Text, #afafaf);
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
}
.body-sing-in .main .sing-in form .email .input:focus {
  background: white;
}
.input:focus ~ label,
.input:not(:placeholder-shown).input:not(:focus) ~ label {
  display: none;
}

.body-sing-in .sing-in .orgot {
  position: absolute;
  display: flex;
  width: 40%;
  justify-content: center;
  top: 15rem;
  border-radius: 6.25rem;
  background: var(--Primary-Colors, #ed5a25);
  height: 4rem;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.body-sing-in .sing-in .orgot:hover {
  background: var(--Primary-Colors, #9b3510);
  transition: all 0.5s;
}
.body-sing-in .sing-in .orgot a {
  color: #fff;
  font-family: "  Manrope", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.body-sing-in .main .sing-in .span-final {
  display: flex;
  height: auto;
  width: 100%;
  flex-wrap: wrap;
  justify-self: center;
  position: absolute;
  top: 25rem;
}
.body-sing-in .sing-in .span-final .Sign-in-with {
  color: #999;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
  display: flex;
  justify-content: center;
}
.body-sing-in .sing-in .icon-final {
  display: flex;
  height: 1.5rem;
  width: auto;
  position: absolute;
  top: 30rem;
  gap: 1rem;
}
