@font-face {
  font-family: "VNIHLThuphap";
  src: url("assets/fonts/VNI-HLThuphap.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Kimberley";
  src: url("assets/fonts/SVN-Kimberley.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Poppins-Black";
  src: url("assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("assets/fonts/Quicksand.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.header {
  width: 100%;
  height: auto;

  position: relative;
}

/* phần hmain*/
.hmain {
  width: 100%;
  height: 5.9375rem;
  position: absolute;
  background: var(--Primary-Colors, #ed5a25);
  box-shadow: 0 4.206px 11.25px 0 rgba(244, 244, 244, 0.5);
  display: flex;
  align-items: center;
}
.hmain .hmain-ss {
  display: none;
}
.hmain .hmain-contener {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 3.8125rem;
  align-items: center;
  margin-right: 6.92rem;
  flex-shrink: 0;
  position: absolute;
}
.hmain .hmain-contener .hmain-contener-left {
  margin-left: 7.87rem;
}
.hmain .hmain-contener .hmain-contener-left a {
  display: flex;
  align-items: center;
  color: white;

  font-family: "Poppins", sans-serif;
  font-size: 2.024rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.89144rem;
}

.hmain .hmain-contener .hmain-contener-trai {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.78856rem;
}
.hmain .hmain-contener .hmain-contener-trai .tk1 {
  display: none;
}
.hmain .hmain-contener .hmain-contener-trai .search {
  width: 30rem;
  height: 2.625rem;
  flex-shrink: 0;
  display: flex;

  margin-right: 6.9rem;
  border-radius: 6.57144rem;
  border: 1.051px solid #4e4543;
}

.hmain .hmain-contener .hmain-contener-trai {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.78856rem;
  width: 30rem;
  height: 2.62856rem;
  background: #fff;
  margin-right: 6.9rem;
  border-radius: 99px;
  margin-right: 25rem;
}
.header .hmain .hmain-contener .hmain-contener-trai .search .categories {
  display: flex;
  width: 6.30856rem;
  height: 100%;
  flex-shrink: 0;
  align-items: center;

  position: relative;
  margin-left: 0.5rem;
  color: var(--Greys-Colors-03, #aeaeae);
  font-family: "Manrope", sans-serif;
  font-size: 0.92rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .hmain .hmain-contener .hmain-contener-trai .search .input-text {
  display: flex;
  width: 20rem;
  height: 2rem;
  justify-content: space-between;
  margin-left: 8.30856rem;
  position: absolute;
  top: 25%;
  border: none;
  outline: none;
}
.header .hmain .hmain-contener .hmain-contener-trai .search .input-text input {
  border: none;
  outline: none;
  color: var(--Greys-Colors-03, #aeaeae);
  font-family: "Manrope", sans-serif;
  font-size: 0.92rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .hmain .hmain-contener .hmain-contener-trai .search .input-text span {
  margin-top: 0.4rem;
}
.header .hmain .htop-left-left {
  position: absolute;
  right: 7rem;
  display: flex;
  gap: 0.5rem;
}
.header .hmain .htop-left-left a {
  color: var(--Greys-Colors-07, #fff);
  font-family: "Quicksand", sans-serif;
  font-size: 0.92rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* phần hbot*/
.hbot {
  width: 100%;
  height: 3.375rem;
  position: absolute;
  flex-shrink: 0;
  display: flex;

  align-items: center;
  justify-content: space-between;
  top: 5.9rem;
}
.hbot .hbot-h {
  display: none;
}

.hbot ul {
  color: var(--Greys-Colors-01, #404040);
  font-family: "Quicksand", sans-serif;
  font-size: 0.92rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  list-style: none;
  margin-left: 7.82rem;
  gap: 1.25rem;
}
.hbot ul li:nth-child(2) span {
  color: var(--Primary-Colors, #ed5a25);
}

.hbot .Hotline- {
  display: flex;
  width: 11.43419rem;
  align-items: center;
  gap: 0.52569rem;
  margin-right: 6.92rem;
}
.hbot .Hotline- .span-21 {
  display: none;
}
.hbot .Hotline- .span-22 {
  display: block;

  width: 1.05144rem;
  height: 1.05144rem;
  flex-shrink: 0;
  align-items: center;
}
.hbot .Hotline- span .s1 {
  position: relative;
  width: auto;
  right: -0.2rem;
  top: 0rem;
  z-index: 50000;
}
.hbot .Hotline- span .s2 {
  position: absolute;
  width: auto;

  z-index: 50000;
}
.hbot .Hotline- a {
  color: var(--Greys-Colors-02, #5c5c5c);
  font-family: "Quicksand", sans-serif;
  font-size: 0.92rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@media screen and (max-width: 576.98px) {
  .hbot {
    max-width: 576px;
    width: 100%;
    background: var(--Primary-Colors, #ed5a25);
    position: absolute;
    top: 0;
    justify-content: center;
  }
  .hbot .hbot-h {
    display: block;
    position: absolute;
    left: 1rem;
  }
  .hbot ul {
    display: none;
  }
  .hbot .Hotline- {
    position: absolute;
    right: 1rem;
    margin-right: 0;
  }

  .hmain {
    position: absolute;
    top: 3rem;
    background: #fff;
  }
  .hmain .hmain-ss {
    display: block;
    position: absolute;
    left: 1rem;
    z-index: 2;
  }
  .header .hmain .htop-left-left {
    right: 1rem;
    position: absolute;
  }
  .header .hmain .htop-left-left a {
    display: none;
  }
  .hmain .hmain-contener {
    margin-right: 0;
  }
  .header .hmain .hmain-contener-left {
    display: none;
  }

  .header .hmain .hmain-contener .hmain-contener-trai .search {
    display: none;
  }
  .header .hmain .hmain-contener .hmain-contener-trai .search .categories {
    display: none;
  }

  .hmain .hmain-contener .hmain-contener-trai .tk1 {
    display: block;
    position: absolute;
    right: 3rem;
  }
  .hbot .Hotline- a {
    color: white;
    font-family: "Quicksand", sans-serif;
    font-size: 0.92rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }
  .hbot .Hotline- .span-22 {
    display: none;
  }
  .hbot .Hotline- .span-21 {
    display: flex;

    width: 1.05144rem;
    height: 1.05144rem;
    flex-shrink: 0;
    align-items: center;
    border-radius: 1.05144rem;
    border: 1px solid white;
    justify-content: center;
    align-items: center;
  }
}
