@font-face {
  font-family: "VNIHLThuphap";
  src: url("assets/fonts/VNI-HLThuphap.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Kimberley";
  src: url("assets/fonts/SVN-Kimberley.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Poppins-Black";
  src: url("assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Quicksand";
  src: url("assets/fonts/Quicksand_Bold.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.footer {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  top: 79.5rem;
  position: absolute;
  height: 33.1875rem;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .footer-top {
  display: flex;
  gap: 7rem;
  width: 85%;
  height: 12.8rem;
  top: 0;

  position: absolute;
  flex-wrap: wrap;
}
/* footer-top-1 */
.footer .footer-top .footer-top-1 {
  display: flex;
  width: 6.1875rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5625rem;
  height: 100%;
  position: absolute;
}
.footer .footer-top #About-us {
  left: 0;
}
.footer .footer-top #service {
  left: 25%;
}
.footer .footer-top .footer-top-1 .footer-top-1-1 {
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
  width: 100%;
}

.footer .footer-top .footer-top-1 .footer-top-1-2:nth-child(2) {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
  margin-top: 3rem;

  position: absolute;
}
.footer .footer-top .footer-top-1 .footer-top-1-2:nth-child(3) {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
  margin-top: 6rem;

  position: absolute;
  width: 150%;
}
.footer .footer-top .footer-top-1 .footer-top-1-2:nth-child(4) {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
  margin-top: 9rem;

  position: absolute;
  width: 100%;
}
.footer .footer-top .footer-top-1 .footer-top-1-2:nth-child(5) {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: stretch;
  bottom: 0;
  position: absolute;
}
.footer .footer-top .footer-top-1 .footer-top-1-2:hover {
  color: #ff5c00;
  cursor: pointer;
}

/* footer-top-2 */

.footer .footer-top .footer-top-2 {
  display: flex;
  width: 15.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5625rem;
  height: 100%;
  position: absolute;
}
.footer .footer-top #PAYMENT {
  left: 50%;
}
.footer .footer-top .footer-top-2 .footer-top-2-1 {
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.footer .footer-top .footer-top-2 .footer-top-2-2 {
  display: flex;

  width: 15.125rem;
  align-items: flex-start;
  align-content: flex-start;
  gap: 0.375rem;
  flex-wrap: wrap;
  margin-top: -1rem;
}
.footer .footer-top .footer-top-2 .footer-top-2-2 .footer-top-2-2-1 {
  display: flex;
  width: 6.0915rem;
  padding: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  border: 1px solid var(--Greys-Colors-06, #f2f2f2);
  background: #fff;
}

.footer .footer-top .footer-top-2 .footer-top-2-2 .footer-top-2-2-2 {
  display: flex;
  width: 8.60056rem;
  padding: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  border: 1px solid var(--Greys-Colors-06, #f2f2f2);
  background: #fff;
}
.footer .footer-top .footer-top-2 .footer-top-2-2 .footer-top-2-2-3 {
  display: flex;
  width: 10.1555rem;
  padding: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  border: 1px solid var(--Greys-Colors-06, #f2f2f2);
  background: #fff;
}
.footer .footer-top .footer-top-2 .footer-top-2-2 .footer-top-2-2-4 {
  display: flex;
  width: 4.5625rem;
  padding: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.3125rem;
  border: 1px solid var(--Greys-Colors-06, #f2f2f2);
  background: #fff;
  height: 2.9375rem;
}
/* footer-top-3 */
.footer .footer-top .footer-top-3 {
  display: flex;
  width: 9.9375rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5625rem;
  height: 10.9rem;
}
.footer .footer-top #FOLLOW-US {
  position: absolute;
  right: 0;
}
.footer .footer-top .footer-top-3 .footer-top-3-1 {
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.footer .footer-top .footer-top-3 .footer-top-3-1:hover {
  cursor: pointer;
}
.footer .footer-top .footer-top-3 .footer-top-3-2 {
  color: var(--Color-Text-02, #3e3e3e);
  font-family: "Manrope", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.footer .footer-top .footer-top-3 .footer-top-3-2:hover {
  color: #ff5c00;
  cursor: pointer;
}
.footer .footer-top .footer-top-3 .footer-top-3-3 {
  color: var(--Color-Text-02, #3e3e3e);
  font-family: "Manrope", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  margin-top: -1rem;
  gap: 0.5rem;
}
.footer .footer-top .footer-top-3 .footer-top-3-3:hover {
  color: #ff5c00;
  cursor: pointer;
}
.footer .footer-top .footer-top-3 .footer-top-3-4 {
  color: var(--Color-Text-02, #3e3e3e);
  font-family: "Manrope", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: -1rem;
}
.footer .footer-top .footer-top-3 .footer-top-3-4:hover {
  color: #ff5c00;
  cursor: pointer;
}
.footer .footer-top .footer-top-3 .footer-top-3-5 {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  color: var(--Color-Text-02, #3e3e3e);
  font-family: "Manrope", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: -1rem;
}
.footer .footer-top .footer-top-3 .footer-top-3-5:hover {
  color: #ff5c00;
  cursor: pointer;
}
.footer .footer-top .footer-top-3 .footer-top-3-5 img {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}

/* footer-bot */

.footer .footer-bot {
  display: flex;
  align-items: flex-start;
  gap: 10.1875rem;
  width: 85%;
  height: 7.19rem;

  position: absolute;
  top: 20rem;
}

.footer .footer-bot .footer-bot-left {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem;
  height: 6rem;
  position: absolute;

  flex-wrap: wrap;
}
.footer .footer-bot .footer-bot-left .footer-bot-left-1 {
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  align-self: stretch;

  position: absolute;
  width: 100%;
  height: 40%;
  top: 0;
}

.footer .footer-bot .footer-bot-left .footer-bot-left-2 {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  height: 60%;
  width: 100%;
  justify-content: center;
}

.footer .footer-bot .footer-bot-left .footer-bot-left-2 a:nth-child(1) {
  color: black;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  height: 50%;
  width: auto;
  top: 0;
  display: flex;
  align-items: center;
  left: 0;
}

.footer .footer-bot .footer-bot-left .footer-bot-left-2 a:nth-child(2) {
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  bottom: 0;
  height: 50%;
  width: auto;
  bottom: 0;
  align-content: center;

  left: 0;
}

.footer .footer-bot .footer-bot-right {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem;

  height: 7.19rem;
  position: absolute;
  left: 50%;
}

.footer .footer-bot .footer-bot-right .footer-bot-right-1 {
  color: #000;
  font-family: "Manrope", sans-serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  align-self: stretch;
  position: absolute;
  width: 100%;
}
.footer .footer-bot .footer-bot-right .footer-bot-right-2 {
  display: flex;
  align-items: center;
  gap: 2.1875rem;
  align-self: stretch;
  width: 100%;
  height: 4.63rem;
  position: absolute;
  bottom: 0;
}
.footer
  .footer-bot
  .footer-bot-right
  .footer-bot-right-2
  .footer-bot-right-2-1 {
  width: 12.1875rem;
  height: 4.625rem;
  display: flex;
}
.footer
  .footer-bot
  .footer-bot-right
  .footer-bot-right-2
  .footer-bot-right-2-2 {
  width: 3.875rem;
  height: 3.875rem;
  display: flex;
}
.footer
  .footer-bot
  .footer-bot-right
  .footer-bot-right-2
  .footer-bot-right-2-3 {
  width: 3.375rem;
  height: 3.375rem;
  display: flex;
}
.footer .final-text {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 3.125rem;
  background: var(--Secondary-Colors-12, #fff4f1);
  align-items: center;
}
